PBI_TENANT_ID=
PBI_CLIENT_ID=
PBI_CLIENT_SECRET=
PBI_TIMEZONE=America/Sao_Paulo
PBI_OUTPUT_DIR=output
POSTGRES_URL=postgresql+psycopg2://powerbi_monitor:powerbi_monitor@localhost:5432/powerbi_monitor
PBI_MONITOR_SCHEMA=powerbi_monitor
